body { border:3px dashed dodgerblue;Background-color: #00FF00;}
div {
display:block; 
Margin-top:10px;
margin-right:10px;
}

img { float:right; }

.header { background-color:#F1F1F1;
		Text-align: center;
padding:20px; }

.topnav {}

.topnav a {}
 
.topvav a hover {}